@import './transition.scss';


.sub-navbar {
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-right: 10px; 
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
      font-size: 20px;
      color: #fff;
    }
    &.edit {
      background: #f3f1f1;
    }
  }