<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="D:/logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="my-template" value="date：	${date}
                                    ${newline}level：	${level}
                                    ${newline}message：	${message}
                                    ${newline}callsite：	${callsite}
                                    ${newline}callsite-linenumber：	${callsite-linenumber}
                                    ${newline}stacktrace: ${stacktrace}
                                    ${newline}-----------------------------------------------
                                    ${newline} " />


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="info-log" fileName="${basedir}/logs/nlog-info-${shortdate}.log" layout="${my-template}" />
    <target xsi:type="File" name="warning-log" fileName="${basedir}/logs/nlog-warning-${shortdate}.log" layout="${my-template}" />
    <target xsi:type="File" name="error-log" fileName="${basedir}/logs/nlog-error-${shortdate}.log" layout="${my-template}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft  所有日志-->
    <!-- <logger name="*" minlevel="Trace" writeTo="allfile" /> -->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="info-log" />
    <logger name="*" minlevel="Warn" writeTo="warning-log" />
    <logger name="*" minlevel="Error" writeTo="error-log" />

    <!-- NLog记录等级
        Trace - 最常见的记录信息，一般用于普通输出
        Debug - 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
        Info - 信息类型的消息
        Warn - 警告信息，一般用于比较重要的场合
        Error - 错误信息
        Fatal - 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
        off - 关闭
        自上而下，等级递增。 -->

  </rules>
</nlog>